[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabulate = "*"
bson = "*"
black = "*"
ipython = "*"
requests = "*"
beautifulsoup4 = "*"
pyhpo = "*"

[dev-packages]

[requires]
python_version = "3.11"
